{% extends 'core/base.html' %}

{% block content %}
<!-- Masthead -->
  <header class="login">
    <div class="container h-100">
        <h1 class="text-center text-white font-weight-bold">Modification du mot de passe</h1>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="page-section" >
    <div class="container">

  <p>
      Votre mot de passe à bien été modifié.
      Vous pouvez vous <a href="{% url 'users:login' %}">connecter</a> dés maintenant.

  </p>
    </div>
  </section>

{% endblock content %}