{% extends 'core/base.html' %}

{% block content %}
<!-- Masthead -->
  <header class="login">
    <div class="container h-100">
        <h1 class="text-center text-white font-weight-bold">Réinitialisation du mot de passe</h1>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="page-section" >
    <div class="container">

  <h3>Mot de passe oublié</h3>
      <hr>
      <p>Saisissez l'adresse mail avec laquelle vous vous etes inscrit.</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" id="button_send">Envoyer</button>
  </form>
    </div>
  </section>

{% endblock content %}