{% extends 'core/base.html' %}

{% block content %}
<!-- Masthead -->
  <header class="login">
    <div class="container h-100">
        <h1 class="text-center text-white font-weight-bold">Réinitialisation du mot de passe</h1>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="page-section" >
    <div class="container">

  <p>
      Vous devriez recevoir un mail avec les instructions pour reinitialiser votre mot de passe, si l'adresse mail
      saisie correspond à un compte existant.
  </p>
  <p>
      Si vous ne recevez pas l'email, merci de verifier que vous avez bien saisie l'adresse mail avec laquelle vous etes
      inscrit, et verifiez vos spams.
  </p>
    </div>
  </section>

{% endblock content %}