{% extends 'core/base.html' %}

{% block content %}
<!-- Masthead -->
  <header class="login">
    <div class="container h-100">
        <h1 class="text-center text-white font-weight-bold">Modification du mot de passe</h1>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="page-section" >
    <div class="container">

  {% if validlink %}
    <h3>Modification de mot de passe</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary" id="button_send" >Modifier le mot de passe</button>
    </form>
  {% else %}
    <p>
        The lien de réinitialisation du mot de passe est invalide, probablement car il a déja été utilisé.
        Merci de refaire une demande de reinitialisation de mot de passe.

    </p>
  {% endif %}
    </div>
  </section>

{% endblock content %}